.containerzmain{
    height: 100%;
    background: #3e3e3e;
    display: flex;
    justify-content: center;
}

.isfire {
    background: #f57d31;
    color: #f57d31;
}

.isgrass{
    background: #74CB48;
    color: #74CB48;
}

.iswater{
    background: #6493EB;
    color: #6493EB;
}

.isnormal{
    background: #AAA67F;
    color: #AAA67F;
}
.isfighting{
    background: #C12239;
    color: #C12239;
}

.isflying{
    background: #A891EC;
    color: #A891EC;
}

.isground{
    background:#DEC16B;
    color:#DEC16B;
}

.ispoison{
    background: #A43E9E;
    color: #A43E9E;
}

.isrock{
    background: #B69E31;
    color: #B69E31;
}

.isbug{
    background: #A7B723;
    color: #A7B723;
}

.isghost{
    background: #70559B;
    color: #70559B;
}
.issteel{
    background: #B7B9D0;
    color: #B7B9D0;
}

.iselectric{
    background: #F9CF30;
    color: #F9CF30;
}

.ispsychic{
    background:#FB5584 ;
    color:#FB5584 ;
}

.isice{
    background: #9AD6DF;
    color: #9AD6DF;
}

 .isdragon{
    background: #7037FF;
    color: #7037FF;
}


.isdark{
    background: #75574C;
    color: #75574C;
}

.isfairy{
    background: #E69EAC;
    color: #E69EAC;
}

.pokeballbg{
    height: 0px;
    position: absolute;
    max-width: 245px;
    border: 0;
    right: 5px;
    margin-top: 5px;
}

.pokeballbg img{
    width: 700px;
}

.imgpkmn{
    margin-top: -170px;
}
.headtop {
    width: 100%;
    display: flex;
}

.header{
    display: flex;
    width: 140%;
    height: 0px;
    flex-direction: row;
    padding: 30px;
    justify-content: space-between;
    align-items: center;
}

.card {
    display: flex;
    align-items: center;
    width: 98%;
    margin: 5px;
    background: #FFFFFF;
    border-radius: 8px;
    flex-direction: column;
    height: 65%;
    padding-bottom: 10px;
    position: absolute;
    bottom: 0px;
    justify-content: space-evenly;
}

.titleandback {
    display: flex;
    align-items: center;
    gap: 20px;
}

.title{
    font-family: 'Poppins-Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    text-transform: capitalize;
    color: white;
}
.numberpkmn{
    font-family: 'Poppins';
    font-style: normal;
    font-size: 18px;
    color: white;
}

.types {
    display: flex;
    justify-content: center;
    gap: 15px;
    height: 25px;
    align-items: center;
    text-transform: capitalize;
}




.type{
    font-family: "Poppins";
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2px 12px;
    width: auto;
    height: 30px;
    border-radius: 30px;
    flex: none;
    order: 1;
    flex-grow: 0;
    justify-content: center;
    color: white;
}

.about {
    font-family: 'Poppins-bold';
    font-size: 14px;
}

.about h2{
    margin-bottom: 5px;
}

.base-stats h2{
    font-family: 'Poppins-bold';
    margin: 0px;
    
}

.basic-stats {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    font-family: "Poppins";
    gap: 8px;
}


.weight {
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    border-right: solid 2px #3c3c3c;
}

.height {
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;

    border-right: solid 2px #3c3c3c;
}

.moves {
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

}

.weight-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    color: #3c3c3c;

    font-size: 14px;
}

.height-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;

    font-size: 14px;

    color: #3c3c3c;
}


.moves-info {
    font-size: 14px;

    color: #3c3c3c;
}

.description{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: nowrap;
    font-family: "Poppins";
    color: #3e3e3e;
    padding: 0px 15px 0px 15px;
    text-align: center;
    justify-content: center;
}

.description p{
    margin: 10px 0px 10px 0px
}

.base-stats {
    font-size: 14px;
}

.stats-label {
    display: flex;
    flex-direction: row;
    width: 95%;
    justify-content: center;
    gap: 15px;
    align-items: center;
}

.stats-info{
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

.labels-stats h2{
    font-family: "Poppins-bold";
    font-size: 14px;
    margin: 0px;
    width: 50px;
    border-right: solid 2px #cecece;
}


.progress {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.progress p {
    margin: 0px 12px 0px 0px;
    font-family: "Poppins";
    font-size: 14px;
}
