

<div class="containerzmain is{{pokemon.types[0].type.name}}" *ngIf="pokemon">
  <!-- <button class="nextBtn" [routerLink]="['/detail/'+(pokemon.id+1)]">next</button> -->
  <div class="header">
    <div class="titleandback">
      <div class="btn-back" [routerLink]="['/home']">
        <img src="../../../assets/img/flecha.png" alt="">
      </div>
      <div class="title" >
        {{pokemon.name}}
      </div>

    </div>
    <div class="numberpkmn">
      <p>#</p>
    </div>
  </div>
  <div class="pokeballbg">
    <img src="../../../assets/img/pokeballbg.png" width="258px" alt="">
  </div>

  <div class="card  "  *ngIf="pokemon">
    <div class="content-detailed" >
      <div class="imgpkmn">
        <img src="{{pokemon.sprites.other['official-artwork'].front_default}}" width="200px" alt="">
      </div>
      <div class="types">
        <div *ngFor="let tipo of pokemonType">
          <span class="type is{{tipo}}" >{{tipo}}</span>
        </div>
      </div>
      
    </div>

    <div class="about ">
      <h2>About</h2>
    </div>

    <div class="basic-stats">
      <div class="weight">
        <div class="weight-info">
          <img src="../../../assets/img/peso.png"  >
          <div>{{pokemon.weight | pund:'kg':1 }}</div>
        </div>
        <div class="weight-label">Weight</div>
      </div>
      <div class="height">
        <div class="weight-info">
          <img src="../../../assets/img/rule.png"  >
          <div>{{pokemon.height | feet:'m' }}</div>
        </div>
        <div class="height-label">Height</div>
      </div>
      <div class="moves" >
        <div class="moves-info">
          <div class="movimientos" *ngFor="let abs of pokemon.abilities">
            <div>{{abs.ability.name}}</div>
        </div>
        </div>
        <div class="moves-label">Moves</div>
      </div>
    </div>

    <div class="description">
      <p>{{pokemonDescription}}</p>
    </div>

    <div class="about ">
      <h2>Base Stats</h2>
    </div>
  </div>

  
 




</div>